<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body class="container">
    <header>
        <% include ../partials/header.ejs %>
    </header>
<h2>
     Daniel Chowla
      </h2>
    <main>
        <div class="jumbotron">
            <h1> Your daily guide to square and cube roots </h1>
            <p> Daniel Chowla</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>